/* ------------------ Reset --------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* --------------- General Changes ------------- */
a {
  color: #000000;
}

.container {
  padding: 0rem 2rem;
}

@media screen and (min-width: 1550px) {
  .container {
    padding: 0rem;
    max-width: 1550px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  body {
    zoom: 90%;
  }
}

body {
  background-color: var(--var-color-white);
}

/* ----------------    Root    ----------------- */
:root {
  --var-color-black: #000000;
  --var-color-black-light: #333333;
  --var-color-purple: #4a4c6c;
  --var-color-white: #fff;
}

/* ---------------- Typography ----------------- */

body {
  font-size: 62.5%; /* 1rem = 10px */
}

h2 {
  font-size: 3rem;
}

li,
p,
a {
  font-size: 1.3rem;
}

/* ----------------   ads   ------------------ */
.ads-section {
  color: var(--var-color-white);
  background-color: var(--var-color-purple);
  cursor: pointer;
}

.ads-text {
  padding: 0.5rem;
  text-align: center;
}

.ads-text p {
  font-size: 3vw;
}

@media screen and (min-width: 600px) {
  .ads-text p {
    font-size: 20px;
  }
}

/* ----------------  Header ------------------ */
.nav {
  background-color: var(--var-color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 28px;
  padding: 2rem 1rem;
}

.nav__links svg {
  width: 2rem;
  height: 2rem;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__links__link {
  margin-left: 1rem;
}

.nav__icons {
  display: flex;
}

.nav__icons svg {
  padding: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
}

.nav__icon__shopingcart {
  position: relative;
}

.cart_counter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
  background-color: var(--var-color-black);
  color: var(--var-color-white);
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.nav__icons .icon:hover {
  cursor: pointer;
}

.nav__icon__shopingcart {
  cursor: pointer;
}

/* -------------- Hero Section -------------------- */
.hero {
  margin-top: 1.8rem;
  position: relative;
  width: 100%;
  margin-bottom: 40vw;
}

.hero__maintext {
  padding-top: 0.1rem;
  font-size: 18vw;
  font-family: "Uni-sans";
  color: var(--var-color-purple);
  opacity: 0.4;
  text-align: center;
}

.hero__image {
  width: 70vw;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media screen and (min-width: 1110px) {
  .hero {
    margin-bottom: 450px;
  }

  .hero__image {
    width: 770px;
  }
  .hero__maintext {
    font-size: 208px;
  }
}

/* ------------------- Products Section ---------------------- */

.products {
  /* margin-top: 40vw; */
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}

.Products-Section h1 {
  text-align: center;
  font-size: 7vw;
  margin: 9rem 0rem 1.5rem 0rem;
}

@media screen and (min-width: 500px) {
  .Products-Section h1 {
    text-align: left;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 750px) {
  .Products-Section h1 {
    text-align: left;
    font-size: 53px;
  }
}

.products__product__images {
  position: relative;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
  overflow: hidden;
}

.products__product__button {
  font-size: 1rem;
  outline: none;
  border: 0 solid;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  color: var(--var-color-white);
  background-color: var(--var-color-black);
}

.products__product__picture {
  width: 100%;
}

.products__product__text {
  margin-left: 0.5rem;
}

.products__product__price {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0.7rem;
}

.products__product__button:hover {
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

@media screen and (min-width: 845px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 5rem;
  }
}

@media screen and (min-width: 1110px) {
  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/*  ----------------- Cart Section ---------------------- */
/* *Important */
.cart__section {
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  display: none;
}

.cart__section__main {
  max-width: 660px;
  width: 90%;
  padding: 2rem;
  background-color: var(--var-color-white);
  text-align: center;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 200px;
  z-index: 4;
  box-shadow: 0 0 20px rgba(59, 59, 59, 0.366);
  border-radius: 10px;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.cart__item .title {
  font-size: 1rem;
}

.cart__item .cart_main_image {
  width: 23%;
  margin-right: 0.5rem;
  background-color: rgba(238, 238, 238, 0.698);
  border-radius: 10px;
}
/* *Important */
.cart__section__background {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 3;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-self: end;
  margin-right: 0.5rem;
}

.delete_icon {
  height: 40px;
  padding: 0.5rem;
}

.top_arrow {
  rotate: 180deg;
}

.top_arrow,
.down_arrow {
  padding: 0.3rem 0.5rem;
  width: 35px;
}

.top_arrow:hover,
.down_arrow:hover,
.delete_icon:hover {
  cursor: pointer;
}

.price {
  margin-top: 0.5rem;
  font-size: 1rem;
  opacity: 0.6;
}

.cart__item__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__section__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__section__info p {
  font-size: 1rem;
  text-align: start;
}

.cart__section__info__buttons {
  display: flex;
}

.cart__section__info__buttons button {
  font-size: 1rem;
  padding: 0.7rem;
  margin-left: 0.8rem;
  outline: none;
  border: 0 solid;
  border-radius: 10px;
}

.cart__section__info__buttons button:hover {
  cursor: pointer;
}

.cart__section__info__cancel {
  color: var(--var-color-white);
  background-color: rgb(239, 65, 97);
}

@media screen and (min-width: 460px) {
  .cart__item__text {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (min-width: 500px) {
  .cart__section__info p {
    font-size: 1.2rem;
    text-align: start;
  }

  .cart__item .cart_main_image {
    width: 25%;
    margin-right: 0.5rem;
  }

  .cart__item__text .title {
    font-size: 1.5rem;
  }

  .cart__item__text .price {
    font-size: 1rem;
  }
}

/* --------------------- Images Section ---------------------- */

.images-section__container {
  margin-top: 3rem;
  /* padding: 3rem; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.images-section__container img {
  width: 100%;
  padding: 1rem;
}

@media screen and (min-width: 845px) {
  .images-section__container img {
    margin-top: 4rem;
    width: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .images-section__container :first-child {
    transform: translateY(30px);
  }

  .images-section__container :last-child {
    transform: translateY(-30px);
  }
}

/* ------------------------ Footer ----------------------------*/

.footer {
  padding: 5rem 0rem;
  margin-top: 5rem;
  background-color: var(--var-color-black);
  color: var(--var-color-white);
}

.footer h2 {
  font-size: 1.3rem;
  font-weight: normal;
}

.footer p {
  font-size: 0.9rem;
}

.footer__main__row1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer__main__row1__item {
  margin-bottom: 2rem;
}

.footer__main__row1__item h2 {
  margin-bottom: 0.5rem;
}

.footer__main__row1__item p {
  margin-bottom: 1.5rem;
}

.footer__main__row1__item button {
  width: 100%;
  height: 3rem;
}

.social-media-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.social-media-icons img{
  cursor: pointer;
}

.social-media-icons img {
  width: 47px;
  height: 47px;
  padding: 0.7rem;
  background-color: var(--var-color-white);
  border-radius: 4px;
  margin: 0rem 0.3rem 0.5rem 0rem;
}

.footer__footer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__footer p {
  margin-bottom: 1rem;
}

.footer__footer img {
  width: 150px;
  align-self: center;
  margin-top: 2rem;
}

.footer button:hover {
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  .footer__main__row1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
  }

  .footer__main__row1__item {
    margin-right: 2rem;
  }

  .footer__main__row1__item button {
    width: 293px;
    height: 3rem;
  }
}
